[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/hugo-theme-bulma"]
	path = themes/hugo-theme-bulma
	url = git@github.com:jackcoble/hugo-theme-bulma.git
