{{ partial "navigation.html" . }}

<body>
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="content">
                            {{ .Content }}
                            {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
                            <h2 class="subtitle">{{ .Key }}</h2>
                            <ul>
                                {{ range .Pages.ByPublishDate.Reverse }}
                                <li>
                                    <p>
                                        {{ dateFormat "02-01-2006" .Date }}
                                        &nbsp;
                                        <a href="{{ .RelPermalink }}" class="is-link">{{ .Title }}</a>
                                    </p>
                                </li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{ partial "footer.html" . }}