{{ partial "navigation.html" . }}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <!-- Title and other post metadata -->
                    <h1 class="title">{{ .Title }}</h1>
                    <h2 class="subtitle">Posted on {{ dateFormat "Jan 2, 2006" .Date }}</h2>
                    <h6 class="subtitle is-6">Reading time: {{ .ReadingTime }} min</h6>

                    <!-- Post content -->
                    <div class="content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>