<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/bulma.min.css">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
    {{- end -}}
    
    {{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/jpg" href={{ .Site.Params.favicon }} />
	{{- end -}}
</head>