{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul>
    <span>
        {{ if $pag.HasPrev }}
        <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}" {{ end }} aria-label="Previous Page"><span
                aria-hidden="true">← Previous Page</span></a>
        {{ end }}
    </span>
    <span>
        {{ if $pag.HasNext }}
        <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}" {{ end }} aria-label="Next Page"><span
                aria-hidden="true">Next Page →</span></a>
        {{ end }}
    </span>
</ul>
{{ end }}