<!DOCTYPE html>
<html>
{{ partial "head" . }}

<body>
  {{ partial "header" . }}
  <div class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="content">
              <h1 class="title has-text-weight-light">Welcome!</h1>
              <p>Welcome to my personal website and blog! I like to use this space as a place to put all of my guides, notes and random ideas.</p>
              <p>Other than this, I like to program things; especially decentralised applications on top of blockchains or other P2P networks. Data hoarding is also another one of my hobbies. I love to collect all things digital!</p>

              <h1 class="title has-text-weight-light">Contact</h1>
              <p>If you would like to contact me to discuss anything or you are just interested in what I do, feel free to visit the platforms I've got listed below:</p>
              <ul>
                <li>
                  <a href="https://github.com/jackcoble">GitHub</a>
                </li>
                <li>
                  <a href="https://keybase.io/jackcoble">Keybase</a>
                </li>
                <li>
                  <a href="https://mastodon.technology/@jackcoble">Mastodon</a>
                </li>
                <li>
                  <a href="https://twitter.com/jackkdev">Twitter</a>
                </li>
              </ul>

              <h1 class="title has-text-weight-light">Donations</h1>
              <p>Although not necessary, I love cryptocurrency too. If you want to support my work, please feel free to tip me using the Brave Browser, or my cryptocurrency addresses below. (I am not expecting anything!)</p>
              <ul>
                <li>
                  <p>Bitcoin - 36e4TgTebYGse7w7NZp8mf1RMrjzQCfePk</p>
                </li>
                <li>
                  <p>Ethereum - 0xB6FeAA7b2766489b11CBe5d3c3df276A1cA33Da3</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>