{{ partial "navigation.html" . }}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <!-- Title of post -->
                    <h1 class="title">{{ .Title }}</h1>

                    <!-- Post content -->
                    <div class="content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}